<div class="slider">
  <img id="view" src="images/slider01.jpg">
  <div class="carousel-caption">
    <h3>CAMP</h3>
    <p>Camping style made by everyone</p>
  </div>
  <i id="prev" class="fas fa-arrow-circle-left"></i>
  <i id="next" class="fas fa-arrow-circle-right"></i>
</div>
<nav class="thumbnail">
  <ul id="thumbnailList">
  </ul>
</nav>

<% if logged_in? %>
  <div id="fh5co-portfolio">
    <div class="container">
      <div class="col-md-9">
        <h3>CAMP LIST (<%= @feed_items.count %>)</h3>
        <%= render 'shared/feed' %>
      </div>
      <div class="col-md-3">
        <p><%= link_to "NEW POST", new_article_path, class: "btn btn-primary btn-lg btn-demo btn-record" %></p>
        <br>
        <p><%= link_to "みんなの投稿をCSV出力", articles_path(format: :csv), class: "btn btn-primary btn-lg btn-demo btn-csv" %></p>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'shared/recruit_login' %>
  <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t js-fullheight">
            <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
              <h1>楽しいキャンプを<br>写真やメモをつけて保存。</h1>
              <h2>あなたのキャンプはどんな感じ？</h2>
              <p>
                <%= link_to 'CAMPを始める', signup_path, class: "btn btn-primary btn-lg btn-demo" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>
