<% @article = article %>
<li class="articles-main" id="article-<%= article.id %>">
  <div class="row" id="articles-main_list">
    <div class="col-md-4" id="articles-photo">
      <div class="fh5co-blog animate-box fadeInUp animated-fast">
        <span>
          <%= link_to((image_tag article.picture.thumb200.url), article_path(article.id), class: 'article-picture', id: "article-picture-list") if article.picture.url.present? %>
        </span>
        <%= render 'users/favorite_form' %>
        <div class="blog-text">
          <h3 class="article-title"><%= link_to article.title, article_path(article) %></h3>
          <div class="article-description"><%= article.description %></div>
          <div class="article-user">posted by <%= link_to article.user.name, user_path(article.user) %></div>
          <div class="article-other-info">
            <span class="prefecture_id">場所：<%= article.prefecture.name %></span><br>
            <span class="camp_times">行った回数：<%= article.logs.count %>回　</span><br>
            <span class="shooting">撮影日：<%= article.shooting %></span><br>
            <span class="popularity">おすすめ度：
              <% if @article.popularity.present? %>
                <span id="popularity-icon"><%= "★" * article.popularity %><%= "☆" * (5 - article.popularity) %></span>
              <% end %>
            </span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="article-created-at">
                <%= time_ago_in_words(article.created_at) %>前に投稿
              </div>
            </div>
            <% if current_user.admin? || (current_user == article.user) %>
              <div class="col-md-6">
                <%= link_to "削除", article_path(article), method: :delete,
                                    data: { confirm: "本当に削除しますか？" } %>
              </div>
            <% end %>
            <ul class="stuff">
              <li><%= link_to "Read More", article_path(article.id) %><i class="icon-arrow-right22"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
