<%= form_with model: @article, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span class="picture">
    <%= f.label :picture %>　<span class="input-unneed">※任意</span>
    <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control', id: 'article_picture' %>
  </span>
  <div class = 'form-group'>
    <%= f.label :title %> [タイトル]　<span class="input-need">※必須</span>
    <%= f.text_field :title, class: 'form-control', id: 'article_title' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :description %> [説明]　<span class="input-unneed">※任意</span>
    <%= f.text_field :description, size: "60x4", class: 'form-control', id: 'article_description' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :prefecture_id %> [場所]　<span class="input-unneed">※任意</span>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"}, class: "form-control", id: 'article_prefecture_id' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :shooting %> [撮影日]　<span class="input-unneed">※任意</span>
    <%= f.date_select :shooting, use_month_numbers: true, prompt:"--", start_year:Time.now.year, end_year:1900, default: Date.new(1989, 1, 1), class: 'form-control', id: 'article_shooting' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :reference %> [アイテム参照用URL]　<span class="input-unneed">※任意</span>
    <%= f.text_field :reference, class: 'form-control', id: 'article_reference' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :popularity %> [1~5]　<span class="input-unneed">※任意</span>
    <%= f.text_field :popularity, class: 'form-control', id: 'article_popularity' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :camp_memo %> [キャンプメモ]　<span class="input-unneed">※任意</span>
    <%= f.text_field :camp_memo, class: 'form-control', id: 'article_camp_memo' %>
  </div>
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  $('#article_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('アップロードできる写真の最大サイズは5MBです。5MB以下の画像を選択してください');
    }
  });
</script>
